* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ede7de;
}
.about-me {
  padding: 10px 10px 10px 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: min(500px, 50vw);
  --rotate-var: -90deg;
  animation: welcome 4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: backwards;
}
.about-me h2 {
  margin-bottom: 10px;
}
.about-me .icons {
  margin: 10px 10px 0 0;
  display: flex;
  justify-content: flex-end;
}
header {
  width: min(800px, 90vw);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 100px auto;
}
header > img {
  width: 90%;
  justify-self: flex-end;
  position: relative;
  right: -30px;
  --rotate-var: 90deg;
  animation: welcome 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: backwards;
}
main h2 {
  text-align: center;
  margin: 20px;
}
.main {
  width: 90%;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  gap: 10px;
}
.project {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.image {
  width: 90%;
  height: 150px;
  background: url("./images/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description {
  margin: 10px 0;
  text-align: center;
}
.links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.links > * {
  margin-right: 10px;
}
@media (max-width: 500px) {
  header {
    display: block;
  }
  header > img {
    width: 90%;
    margin: 0 auto;
  }
  .about-me {
    width: 80%;
    margin: 10px auto;
  }
}
footer {
  background-color: black;
  height: 100px;
  padding: 20px;
  color: white;
}
footer > p {
  margin-bottom: 10px;
}

/* Animations */
@keyframes rotate-and-enter {
  0% {
    transform: rotate(60deg) translateX(1500px);
  }
  100% {
    transform: rotate(0) translateX(0);
  }
}
@keyframes welcome {
  0% {
    transform-origin: 0% 0%;
    transform: rotate(var(--rotate-var));
  }
  100% {
    transform-origin: 0% 0%;
    transform: rotate(0);
  }
}
.rotate-and-enter {
  animation: rotate-and-enter 1s ease-out;
  animation-fill-mode: both;
}
/* Animations */
